:root {
    /* Colors */

    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98);
}

/* Fonts */

/* Ypung Serif */
@font-face {
    font-family: "Young-Serif";
    src: local("young-serif"), url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
    font-weight: 400;
}

/* Outfit */
@font-face {
    font-family: "Outfit";
    src: local("outfit"), url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
    font-weight: 400 600 700;
}

/* Global styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
main {
    height: 100vh;
}

.fkex-box {
    display: flex;
    flex-direction: column;
}

main {
    justify-content: center;
    align-items: center;
}

.recipe-card {
    width: 327px;
    text-align: center;
    margin: 0 auto;
}

.omelette-img {
    width: 100%;
}

.recipe-info {
    text-align: initial;
    padding: 1.5rem;
}

.recipe-name {
    font-family: "Young-Serif", sans-serif;
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: var(--stone-900);
    margin-top: 0.5rem;
}

.recipe-description {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    line-height: 1.4rem;
    color: var(--stone-600);
    margin-top: 1.5rem;
}

.preparation-time {
    padding: 2.5rem;
}

.preparation-title {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 1.23rem;
    text-align: justify;
    color: var(--rose-800);
}

.preparation-time ul {
    padding: 1.5rem;
    font-family: "Outfit", sans-serif;
    text-align: justify;
}

.preparation-time ul li {
    color: var(--rose-800);
}