:root {
    /* Colors */

    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98);
}

/* Fonts */

/* Young Serif */
@font-face {
    font-family: "Young-Serif";
    src: local("young-serif"), url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
    font-weight: 400;
}

/* Outfit */
@font-face {
    font-family: "Outfit";
    src: local("outfit"), url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
    font-weight: 400 600 700;
}

/* Global styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-box {
    display: flex;
    flex-direction: column;
}

main {
    justify-content: center;
    align-items: center;
}

.recipe-card {
    width: 327px;
    text-align: center;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 1rem;
}

/*==== Image ====*/

.omelette-img {
    width: 100%;
    border-radius: 0.5rem;
}

/*===== Preparation time ====*/
.recipe-info {
    text-align: initial;
    padding: 1.5rem 0;
}

.recipe-name {
    font-family: "Young-Serif", sans-serif;
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: var(--stone-900);
    margin-bottom: 2rem;
}

.recipe-description {
    font-family: "Outfit", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--stone-600);
    text-align: start;
    margin-top: 1.5rem;
}

.preparation-time {
    padding: 1.3rem;
    background-color: hsla(330, 100%, 98%, 1);
    border-radius: 1rem;
}

.preparation-title {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: justify;
    color: var(--rose-800);
    list-style-position: inside;
}

.preparation-time ul {
    list-style-type: none;
    font-family: "Outfit", sans-serif;
    text-align: start;
}

.preparation-time ul li {
    gap: 2rem;
}

.preparation-time li::before {
    content: "•";
    color: var(--rose-800);
    font-weight: bold;
    display: inline-block;
    padding: 0.8rem;
    margin-left: -1rem;
}

.section-title {
    font-family: "Young-Serif", sans-serif;
    font-size: 2rem;
    text-align: start;
    color: var(--brown-800);
    padding: 1rem 0;
}

.list {
    font-family: "Outfit", sans-serif;
    color: var(--stone-600);
}

/*==== Ingredents list ====*/

.ingredients {
    padding: 1.3rem 0;
}

.list {
    text-align: start;
    position: relative;
    width: 100%;
}

.ingredients-list {
    list-style-type: none;
}

.ingredients-list li::before {
    content: "•";
    color: var(--brown-800);
    font-weight: bold;
    display: inline-block;
    padding: 0.8rem;
    margin-left: -1rem;
}

hr {
    margin: 2rem 0;
    width: 100%;
}

/*==== Instructions list ====*/

.instructions-list {
    counter-reset: item;
    padding-left: 0;
    list-style-type: none;
}

.instructions-list li {
    gap: 0.5rem;
    counter-increment: item;
}

.instructions-list li::before {
    content: counter(item) ".";
    font-weight: bold;
    color: var(--brown-800);
    min-width: 2rem;
    padding: 1rem;
}

.step {
    font-weight: 600;
}

/*==== Nutrition table ====*/

.table-description {
    font-family: "Outfit", sans-serif;
    color: var(--stone-600);
    text-align: center;
    padding: 1rem;
}

.nutrition-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.table-row {
    border-bottom: 1px solid var(--stone-600);
}

.table-category {
    font-family: "Outfit", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--stone-600);
}

.table-data {
    font-family: "Outfit", sans-serif;
    font-size: 1.2rem;
    color: var(--brown-800);
    font-weight: 600;
    padding: 0.75rem 1rem;
}

.attribution {
    padding: 1rem;
}

@media (min-width:768px) {
    body {
        background-color: var(--stone-100);
    }

    .recipe-card {
        width: 35rem;
        padding: 2rem;
    }
}